@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme*="_light"] .dark-mode-icon {
  display: none;
}

html[data-theme*="_dark"] .light-mode-icon {
  display: none;
}

html {
  scroll-behavior: smooth;
}
