@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/ttf/Hack-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme*="_light"] .dark-mode-icon {
  display: none;
}

html[data-theme*="_dark"] .light-mode-icon {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* Blog full width on mobile */
@media (max-width: 768px) {
  .blog-page {
    width: 100vw !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Override body padding for blog */
  body:has(.blog-page) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* Override navbar and footer padding for blog */
  body:has(.blog-page) .navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  body:has(.blog-page) .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
